<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Image Uploader</title>
  </head>
  <body>
    <h1>Upload an Image for OCR</h1>
    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type="submit" value="Upload" />
    </form>

    {% if filename %}
    <h2>Uploaded Image:</h2>
    <img
      src="{{ url_for('static', filename='uploads/' ~ filename) }}"
      width="300"
    />
    {% endif %}
  </body>
</html>
